<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <title>My Coupons</title>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      height: 100vh;
      padding: 20px;
      background-position: center;
      background-attachment: fixed;
      background-image: url("/images/WhatsApp Image 2024-05-08 at 3.53.25 PM.jpeg");
      background-size: cover; /* Cover the entire background */
      background-repeat: no-repeat; /* Prevent the image from repeating */
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      text-align: center; /* Center the content horizontally */
    }
    #qrCode img {
      max-width: 100%;
      display: none; /* Initially hide the QR code image */
    }
    h1{
        color:antiquewhite;
        font-family: 'Averia Libre', sans-serif;

    }
    #logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1; 
    width: auto; 
    max-width: 10%; 
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff; 
    margin: 3px 0;
    transition: background-color 0.4s;
}

.bar:hover {
    background-color: #ccc; 
}

/* Menu items */
.menu-items {
    position: fixed;
    top: calc(20px + 20px + 3px); 
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    z-index: 1001;
    animation: fadeIn 0.5s ease forwards; 
    font-family: 'Averia Libre', sans-serif;

    
    
}

.menu-items.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    margin:5px 0;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    /* margin-bottom: 20px; Increased margin */
    display: block;
    font-size: 18px; /* Medium font size */
}

.menu-items a:last-child {
    margin-bottom: 0;
}

.menu-items a:hover {
    color: #ffcc00;
    background-color: rgba(255, 255, 255, 0.1);
}
  </style>
</head>
<body>
    <div id="logo">
        <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
    </div>
  <div class="container">
    <h1>My Coupons</h1>
    <button onclick="showQRCode()">Show QR Code</button>
    <div id="qrCode">
      <!-- Static QR code image -->
      <img id="qrImage" src="/images/png-transparent-qr-code-information-qr-code-android-qrcode-text-rectangle-monochrome.png" alt="QR Code">
    </div>
    <div class="white-background"></div>
    <div class="menu-toggle" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>   

    <div class="menu-items" id="menuItems">
        <a href="/">Home</a>
        <a href="/mapmenu">Menu</a>
        <a href="auth/login">Login</a>
        <!--<a href="/bgrb">admin dashboard</a>-->
        <a href="/userdash">User Dashboard</a>


    </div>
  </div>

  <script>
    function showQRCode() {
      var qrImage = document.getElementById('qrImage');
      qrImage.style.display = 'block'; // Show the QR code image
    }
    function toggleMenu() {
    var menuItems = document.getElementById("menuItems");
    menuItems.classList.toggle("show");
}
  </script>
  
</body>
</html>
