<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/confirmation.css">
      <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <div id="logo">
        <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
      </div>
      
  <div class="white-background"></div>
  <div class="menu-toggle" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </div>   

  <div class="menu-items" id="menuItems">
      <a href="/">Home</a>
      <a href="/mapmenu">Menu</a>
      <a href="#about-us-section">About Us</a>
      <a href="#contact-us-section">Contact Us</a>
      <a href="signup">Sign up</a>
      <a href="login">Login</a>
  </div>

    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center; /* Center horizontally */
            margin: 0;
            padding: 20px;
            background-position: center;
            background-attachment: fixed;
            background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
            background-size: cover; /* Cover the entire background */
            background-repeat: no-repeat; /* Prevent the image from repeating */
        }

        
    </style>
    
    <title>Reservation Confirmed</title>
</head>
<body  class="div">
    <h1>Reservation Confirmed!</h1>
    <p>Thank you for choosing SJAK.</p>
    <h2>Your Reservation Details:</h2>
    <p>Date: <%= reservationDetails.date %></p>
    <p>Time: <%= reservationDetails.time %></p>
    <p>Guests: <%= reservationDetails.guests %></p>
    <p>We look forward to serving you!</p>
    <p>If you have any special requests or need to make changes to your reservation, please contact us at [+12345678] or [SJAK.com].</p>
    <p>See you soon!</p>
</body>
<script src="/js/confirmation.js"></script>
</html>

