<!DOCTYPE html>
<html>
<head>
    <title>Manage Reservations</title>
</head>
<body>
    <h1>Manage Reservations</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Reservation Number</th>
                <th>Name</th>
                <th>Seating</th>
                <th>Seats</th>
            </tr>
        </thead>
        <tbody>
            <% reservations.forEach(reservation => { %>
                <tr>
                    <td><%= reservation.reservationNumber %></td>
                    <td><%= reservation.name %></td>
                    <td><%= reservation.seating %></td>
                    <td><%= reservation.seats %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
