<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Map Menu</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/mapmenu.css" />

  <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  
  <style>
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/WhatsApp Image 2024-05-08 at 3.53.25 PM.jpeg");
    background-size: cover; 
    background-repeat: no-repeat; 
}
</style>
</head>
<body>
  <div class="logo">
    <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
  </div>
  <div id="word-container">
    <!-- <p><img src="/images/menu_3073727.png" alt="Menu Icon"> Menu</p> -->
  <h1>
      </h1>
      <div class="white-background"></div>
  <div class="menu-toggle" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </div>   

  <div class="menu-items" id="menuItems">
      <a href="/">Home</a>
      <a href="/mapmenu">Menu</a>
      <a href="#about-us-section">About Us</a>
      <a href="#contact-us-section">Contact Us</a>
      <a href="auth/signup">Sign up</a>
      <a href="auth/login">Login</a>
  </div>
  <div id="map"></div>
  <div id="menuContainer" style="display: none;">
    <h2 id="menuTitle"></h2>
    <ul id="menuItems">
      <li>Menu item 1</li>
      <li>Menu item 2</li>
      <li>Menu item 3</li>
    </ul>
  </div>
  <div id="guessContainer" style="display: none;">
    <div class="container">
      <div class="Field-label"> 
    <h2>Guess the Country!</h2>
  </div>
  <div class="field">
    <input  class="textfield" type="text" id="guessInput" placeholder="Enter your guess...">
  </div>
    <button onclick="checkGuess()" class="subbut">Submit</button>
    <button onclick="skipGuess()" class="menubut">Skip and Show Menu</button> 
  </div>
  
  
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <script src="/js/mapmenu.js"></script>
  
  

</body>
</html>
