.menu h2 {
    font-size: 40px; /* Adjust the font size as needed */
    color:red; /* Set the color of the text */
    text-align: center; /* Center-align the text */
    margin-bottom: 200px; /* Add some bottom margin for spacing */
    justify-content: center;
    margin-left: 250px;
    font-style: italic;
   font-family:'Times New Roman', Times, serif;
   font-weight: bold;
}


.drink-item1 {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    
}

.drink-item1 img {
    width: 350px; /* Set the width of the image */
    height: 360px; /* Maintain aspect ratio */
    margin-right: 20px; /* Add margin to separate the image from the text */
    margin-bottom: 810px;
    border: 5px  rgba(0, 0, 0, 0.2); 
    margin-left: -20px;
}

.drink1-info {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    margin-left: -300px; /* Adjust left margin as needed */
    margin-bottom: 400px;
    color: white;
    
}

.drink1-info h2 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: -1px; /* Adjust bottom margin as needed */
    margin-top: 0; /* Reset top margin */
    margin-left: -250px;
    color: white;
    
}


.drink1-info p {
    font-style: italic;
    font-size: 14px;
    word-wrap: break-word; /* Allow long words to break and wrap */
    width: 250px; /* Adjust width as needed */
    margin-top: 10px; /* Adjust top margin as needed */
 margin-bottom: -115px;
    margin-left: -80px;
}
.menu {
    display: none; /* Hide menus by default */
    position: absolute; /* Position the menu absolutely */
    z-index: 1; /* Ensure the menu appears on top of other content */
    /* Add any other necessary styles */
}


/*-------------------------------------------------------------------------------------------------------*/


.drink-item2 {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
}

.drink-item2 img {
    width: 350px; /* Set the width of the image */
    height: 380px; /* Maintain aspect ratio */
    margin-right: -200px; /* Add margin to separate the image from the text */
    border: 5px solid rgba(0, 0, 0, 0.2); 
    margin-top: -2000px;
    margin-left: 500px;
}

.drink2-info {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    margin-left: -150px; /* Adjust left margin as needed */
    margin-top: -1450px; /* Adjust top margin as needed */
    color:white;
    
   
}
.drink2-info h2 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: -1px; /* Adjust bottom margin as needed */
    margin-top: 0; /* Reset top margin */
    margin-left: -176px;
    color :white;
}

.drink2-info p {
    font-style: italic;
    font-size: 14px;
    word-wrap: break-word; /* Allow long words to break and wrap */
    width: 250px; /* Adjust width as needed */
    margin-top: 5px; /* Adjust top margin as needed */
    color:white;
}

.menu {
    display: none; /* Hide menus by default */
    position: absolute; /* Position the menu absolutely */
    z-index: 1; /* Ensure the menu appears on top of other content */
    /* Add any other necessary styles */
}
/*-------------------------------------------------------------------------------------------------*/
.drink-item3 {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
}

.drink-item3 img {
    width: 350px; /* Set the width of the image */
    height: 390px; /* Maintain aspect ratio */
    margin-right: -200px; /* Add margin to separate the image from the text */
    border: 5px solid rgba(0, 0, 0, 0.2); 
   margin-top: -1300px;
   margin-bottom: 750px;
   margin-left: 1000px;
}

.drink3-info {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    /* Adjust left margin as needed */
    margin-top: -1500px; /* Adjust top margin as needed */
    margin-right: -800px;
    margin-left: -145px;
    
}

.drink3-info h2 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: -1px; /* Adjust bottom margin as needed */
    margin-top: 0; /* Reset top margin */
    margin-left: -150px;
    color:white;
}

.drink3-info p {
    font-style: italic;
    font-size: 14px;
    word-wrap: break-word; /* Allow long words to break and wrap */
    width: 250px; /* Adjust width as needed */
    margin-top: 5px; /* Adjust top margin as needed */
    color:white;
}

.menu {
    display: none; /* Hide menus by default */
    position: absolute; /* Position the menu absolutely */
    z-index: 1; /* Ensure the menu appears on top of other content */
    /* Add any other necessary styles */
}
/*----------------------------------------------------------------------------------------------------------------*/
.drink-item4 {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
}

.drink-item4 img {
    width: 350px; /* Set the width of the image */
    height: 400px; /* Maintain aspect ratio */
    margin-right: 20px; /* Add margin to separate the image from the text */
    border: 5px  rgba(0, 0, 0, 0.2); 
    margin-top: -1050px;
    margin-left: 90px;
    margin-bottom: -200px;
}

.drink4-info {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    margin-right: 800px; /* Adjust left margin as needed */
    margin-top: -650px; /* Adjust top margin as needed */
    color:white;
    margin-left: -380px;
    margin-bottom: -370px;
    
}

.drink4-info h2 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: -1px; /* Adjust bottom margin as needed */
    margin-top: 0; /* Reset top margin */
    margin-left: -110px;
    color:white;
}

.drink4-info p {
    font-style: italic;
    font-size: 14px;
    word-wrap: break-word; /* Allow long words to break and wrap */
    width: 250px; /* Adjust width as needed */
    margin-top: 5px; /* Adjust top margin as needed */
    color:white;
}

.menu {
    display: none; /* Hide menus by default */
    position: absolute; /* Position the menu absolutely */
    z-index: 1; /* Ensure the menu appears on top of other content */
    /* Add any other necessary styles */
}
/*------------------------------------------------------------------------------------------------------------------------*/
.drink-item5 {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
}

.drink-item5 img {
    width: 350px; /* Set the width of the image */
    height: 380px; /* Maintain aspect ratio */
    /* Add margin to separate the image from the text */
    border: 5px  rgba(0, 0, 0, 0.2); 
    margin-top: -900px;
    margin-left: 800px;
}

.drink5-info {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
color:white;
    margin-top: -390px; /* Adjust top margin as needed */
    margin-left: -350px;
    
}

.drink5-info h2 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: -1px; /* Adjust bottom margin as needed */
    margin-top: 10px; /* Reset top margin */
    margin-left: -130px;
    color:white;
}

.drink5-info p {
    font-style: italic;
    font-size: 14px;
    word-wrap: break-word; /* Allow long words to break and wrap */
    width: 250px; /* Adjust width as needed */
    margin-top: 5px; /* Adjust top margin as needed */
}

.menu {
    display: block; /* Show the menu by default */
    position: absolute; /* Position the menu absolutely */
    z-index: 1; /* Ensure the menu appears on top of other content */
    /* Add any other necessary styles */
}




